# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
name: Go
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * *"
permissions: {}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        go: ["1.22", "1.x"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ matrix.go }}
      - name: Build
        run: go build -v ./...
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: "1.x"
      - name: Run Coverage
        run: go test -v -coverprofile=profile.cov ./...
      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov
  static_analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.x"
        id: go
      - name: Install required static analysis tools
        run: |
          go get -u honnef.co/go/tools/cmd/staticcheck
      - name: Check out code
        uses: actions/setup-go@v5.5.0
      - name: get dependencies
        run: |
          go get -v -t -d ./...
      - name: Go vet
        run: go vet ./...
      - name: Check gofmt
        run: diff -u <(echo -n) <(gofmt -d -s .)
